li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.header {
  height: 6rem;
  background-color: #16213E;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.img-logo {
  max-height: 4rem;
}
